{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="{% static "img/logo.png" %}" rel="icon" class="img-circle">

    <title>Registro de usuario</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <img class="img-circle card-img-top img-fluid img-size-50" src="{% static 'img/logo.png' %}"> <a
            href="{{ home }}"><b>SRF</b>
        CONSULTORES</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Registro de Nuevo usuario</p>

            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="input-group mb-3">
                    {{ form.first_name|add_class:"form-control"|attr:"placeholder: Nombre"|attr:"type:text" }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.last_name|add_class:"form-control"|attr:"placeholder: Apellido"|attr:"type:text" }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.username|add_class:"form-control"|attr:"placeholder: Nombre usuario"|attr:"type:text" }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.email|add_class:"form-control"|attr:"placeholder: Ingrese su correo"|attr:"type:email" }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-at"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    {{ form.numero_documento|add_class:"form-control"|attr:"placeholder: Ingrese numero de documento"|attr:"type:text" }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-sort-numeric-up"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    {{ form.password1|add_class:"form-control"|attr:"placeholder: Ingrese su contraseña"|attr:"type:password" }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    {{ form.password2|add_class:"form-control"|attr:"placeholder: Confirme su contraseña"|attr:"type:password" }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-4">
                    <span>Ingrese avatar</span>
                    {{ form.avatar|add_class:"form-control-sm"|attr:"type:file" }}
                    <div class="input-group-append">

                    </div>
                </div>

                <hr>


                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Registar Usurario</button>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-6">
                        <button type="reset" class="btn btn-secondary btn-block">Cancelar
                        </button>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'login:login' %}" class="btn btn-danger btn-block">Volver
                        </a>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>

<script type="application/javascript">
    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error }}\n';
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{ error }}\n';
        {% endfor %}
        Swal.fire({
            title: 'Error!',
            text: errors,
            icon: 'error'
        });
    {% endif %}
</script>
</body>
</html>