{% extends 'simple/body.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/CrearBitacora.js' %}"></script>
{% endblock %}

{% block content %}
    <form role="form" action="." method="post">

        <div class="col-md-12 ">
            <!-- general form elements disabled -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if action == 'add' %}
                            <i class="fa fa-plus-circle"></i>
                        {% elif action == 'edit' %}
                            <i class="fa fa-edit"></i>

                        {% endif %}

                        Nueva Bitacora</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <input type="hidden" name="action" value="{{ action }}">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label><i class="fa fa-user-astronaut"></i> Usuario</label>
                                    {{ form.usuario }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label><i class="fa fa-spell-check"></i> Nombre Reunion</label>
                                    {{ form.reunion }}
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- textarea -->
                            <div class="form-group">
                                <label><i class="fa fa-users"></i> Numero De Personas</label>
                                {{ form.numero_personas }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><i class="fa fa-calendar-alt"></i> Fecha</label>
                                {{ form.fecha }}
                            </div>
                        </div>
                    </div>

                    <!-- input states -->
                    <div class="form-group">
                        <label><i class="fa fa-city"></i> Lugar de encuentro</label>
                        {{ form.lugar_encuentro }}
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputWarning">
                            <i class="fa fa-broom"></i> Observaciones</label>
                        {{ form.observaciones }}
                    </div>


                    <div class="form-group">
                        <label>Buscador personas:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="search"
                                   placeholder="Ingrese el nombre de la persona" autocomplete="off">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-danger btn-flat"><i
                                        class="fas fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                    <hr>

                    <table class="table table-bordered" id="tblPersonas">


                        <thead>
                        <button type="button" class="btn btn-danger btn-xs" id="tbldelate">
                            <i class="fa fa-trash btn-flat"></i> Eliminar todos los registros
                        </button>
                        <br>
                        <tr>
                            <br>
                            <th scope="col"> Opciones</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Tapabocas</th>
                            <th scope="col">Distancia</th>
                            <th scope="col">Observaciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-block btn-outline-success col-sm-6">Guardar Bitacora
                    </button>
                </div>
                <hr>
            </div>
            <!-- /.card-body -->
        </div>
    </form>

    <br>


{% endblock %}

{% block javascript %}
    <script>
        vents.pers.personas = {{ detalle|safe }};
        vents.list()
    </script>
{% endblock %}