{% extends 'simple/body.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash"></i>
                    {{ titulo }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <h5> Atencion!</h5>
                        Error en elemento diligenciado
                    </div>
                {% endif %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Antes de eliminar</h5>
                    ¿Quiere eliminar el registro de esta bitacora: {{ object.reunion }} ?
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success btn-flat">
                    <i class="fas fa-check"></i> Eliminar Registro
                </button>
                <a href="{% url 'app:ListarBitacora' %} " class="btn btn-secondary btn-flat">
                    <i class="fa fa-times"> </i> Conservar Registro</a>
            </div>
        </div>
    </form>

{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault()

                var parametros = new FormData();
                submit_ajax(window.location.pathname, parametros, 'Alerta', 'Confirme la eliminacion', function () {
                    location.href = '{{ home }}';
                });
            });
        });

    </script>
{% endblock %}