<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
    .img-invoice {
        width: 50px;
        text-align: center;
        margin: 0 auto;
    }

    .head {
        text-align: center;
        text-transform: uppercase;
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }


    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
    }

    .text-center {
        text-align: center;
    }
</style>
<body>
<img src="{{ logo }}" class="img-invoice" alt="Logo">
<p class="head">
    <b>
        SRF CONSULTORES<br>
        NIT : 900.123.123<br>
        Direccion: Calle 119 N° 14 A – 26 Oficina 204<br>
        Email: mercadeo@srfconsultores.com<br>
        Fijo: +57 (1) 300 4901<br>
    </b>

</p>
<div class="izquierda">
    <p>

        <b>Nombre de Reunion:</b> {{ bitacora.reunion }}<br>
        <b>Numero de bitacora:</b> {{ bitacora.id }}<br>
        <b>Fecha de Bitacora:</b> {{ bitacora.fecha }}<br>
        <b>Numero de Asistentes:</b> {{ bitacora.numero_personas }}<br>
        <b>Usuario Responsable:</b> {{ bitacora.usuario.first_name|upper }} {{ bitacora.usuario.last_name|upper }}<br>
    </p>
</div>

<table id="invoice">
    <thead>
    <tr>
        <th style="width: 25%;">Persona</th>
        <th style="width: 15%;">Tiene tapabocas</th>
        <th style="width: 15%;">Conseva Distancia</th>
        <th style="width: 45%; text-align: center">Observaciones</th>
    </tr>
    </thead>
    <tbody>
    {% for d in detalle %}
        <tr style="padding-top: 3px;">
            <td class="text-left">{{ d.persona }}</td>
            {% if d.tapabocas == True %}
                <td class="text-left">Con Tapabocas</td>
            {% elif d.tapabocas == False %}
                <td class="text-left">Sin Tapabocas</td>

            {% endif %}
            {% if d.distancia == True %}
                <td class="text-left">Guarda la distancia</td>
            {% elif d.distancia == False %}
                <td class="text-left">No guarda la distancia</td>
            {% endif %}
            <td class="text-center">{{ d.observaciones }}</td>
        </tr>
    {% endfor %}


</table>
<hr>
<table style="margin-top: 150px;">
    <thead>
    <tr>
        <th>**** RECUERDE QUE EL DISTANCIAMIENTO SALVA VIDAS ****</th>
    </tr>
    <tr>
        <th>SRF CONSULTORES</th>
    </tr>
    </thead>
</table>

</body>
</html>
