{% extends 'listado.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
    <script src="{% static 'js/ListarBitacora.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

{% endblock %}
{% block columns %}




    <tr>
        <th scope="col">#</th>
        <th scope="col">Reunion</th>
        <th scope="col">Asistencia</th>
        <th scope="col">Fecha</th>
        <th scope="col">Lugar de Encuentro</th>
        <th scope="col">Observaciones sobre la reunion</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Opciones</th>
    </tr>

{% endblock %}
{% block rows %}


{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    </script>
    <!-- Modal -->
    <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-search"></i> Detalle de asistencia
                        bitacora</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="tblPersonasDetalle">


                        <thead>

                        <tr>
                            <br>
                            <th scope="col"> Reunion</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Tapabocas</th>
                            <th scope="col">Distancia</th>
                            <th scope="col">Observaciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
