{% extends 'simple/body.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <form method="post" action="{% url 'app:Nueva_Persona' %}">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ titulo }}
                </h3>
            </div>
            <div class="card-body ">
                {% csrf_token %}
                <!-- El nombre de la variable que paso por medio de la vista es action
                el valor es el que se le asigna en la vista -->
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email" >{{ field.label }}:</label>
                        {{ field|add_class:'col-xs-3'|attr:'autocomplete:off' }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success btn-flat" id="enviar">
                    <i class="fas fa-check"></i> Guardar Registro
                </button>
            </div>
        </div>
    </form>
    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
        $(function () {
            $('.select2').select2({
                theme: "bootstrap4",
                language: 'es'
            });
            $('form').on('submit', function (e) {
                e.preventDefault()
                //se crea una variable para ingresar los datos en un arreglo
                //this hace referencia al fomulario y sis datos
                //serializeArray guarda los datos en un arreglo
                var parametros = new FormData(this);

                submit_ajax(window.location.pathname, parametros, 'Notificacion', '¿Desea agregar esta persona?', function () {
                    location.href = '{{ home }}';
                });


            });
        });


    </script>
{% endblock %}