{% extends 'simple/body.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ titulo }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% if form.errors %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Atencion!</h5>
                        Error en elemento diligenciado
                    </div>

                {% endif %}

                {{ form }}

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success btn-flat">
                    <i class="fas fa-check"></i> Guardar Registro
                </button>
            </div>
        </div>
    </form>
    <script>
        {% if form.errors %}
            Swal.fire({
                icon: 'error',
                title: '',
                text: 'Ingrese correctamente los campos',
            })
        {% endif %}



    </script>
{% endblock %}